{% block content %}
	<header class="siteHeader">
		<div class="container-nav">
			<h2 class="logoSite">
				<a href="{{ path('home') }}">Symfony Bike</a>
			</h2>
			<nav class="main-nav">
				<ul>
					{# Choix de la langue #}
					<li class="dropdown">
						<a href="" class="dropdown-toggle">
							<img src="" class="lang-logo">
						</a>
						<ul class="dropdown-menu" style="display: none;">
							<li>
								<a href="?lang=fr">
									Français
								</a>
							</li>
							<li>
								<a href="{{ path('translate', {'lang': 'en'}) }}" id="langEn">
									English
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="{{ path('velos') }}">{{ "bikes"|trans }}</a>
					</li>
					<li>
						<div data-controller="cart">
							<a href="{{ path('cart_show') }}">
								{{ "cart"|trans }}
								<span class="cart-item-count" id="itemCountPanier" data-cart-target="itemCount"></span>
								<span class="cart-total-amount" id="totalAmountPanier" data-cart-target="totalAmount">0.00 €</span>
							</a>
						</div>
					</li>
				</li>
				{% if app.user %}
					{% if 'ROLE_ADMIN' in app.user.roles %}
						<li>
							<a href="{{ path('app_admin') }}">Admin</a>
						</li>
					{% endif %}
					<li>
						<a href="{{ path('user_profil') }}">{{ "account"|trans }}</a>
					</li>
					<li>
						<a href="{{ path('_logout_main') }}" onclick="return confirm('Êtes-vous sûr de vouloir vous déconnecter ?');">
							{{ "disconnect"|trans }}
						</a>
					</li>
				{% else %}
					<li>
						<a href="{{ path('login') }}">{{ "connect"|trans }}</a>
					</li>
				{% endif %}
			</ul>
		</nav>
	</div>
</header>{% endblock %}
