{% block content %}
	<header class="siteHeader">
		<div class="container-nav">
			<h2 class="logoSite">
				<a href="{{ path('home') }}">Symfony Bike</a>
			</h2>
			<nav class="main-nav">
				<ul>
					{# Choix de la langue #}
					<li class="dropdown">
						<a href="" class="dropdown-toggle">
							<img src="" class="lang-logo">
						</a>
						<ul class="dropdown-menu" style="display: none;">
							<li>
								<a href="?lang=fr">
									Français
								</a>
							</li>
							<li>
								<a href="{{ path('translate', {'lang': 'en'}) }}" id="langEn">
									English
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="{{ path('velos') }}">{{ "bikes"|trans }}</a>
					</li>
					{% if app.user %}
						{% if 'ROLE_ADMIN' in app.user.roles %}
							<li>
								<a href="{{ path('app_admin') }}">Admin</a>
							</li>
						{% endif %}
						<li>
							<a href="{{ path('user_profil') }}">{{ "account"|trans }}</a>
						</li>
						<li>
							<div>
								<a href="/cart">
									{{ "cart"|trans }} (<span data-cart-target="cartCount">0</span>
									articles)
								</a>
								{# <span>Total :
									<span data-cart-target="cartTotal">0,00 €</span>
								</span> #}
							</div>
						</li>
						<li>
							<a href="{{ path('_logout_main') }}" onclick="return confirm('Êtes-vous sûr de vouloir vous déconnecter ?');">
								{{ "disconnect"|trans }}
							</a>
						</li>
					{% else %}
						<li>
							<a href="{{ path('login') }}">{{ "connect"|trans }}</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		</div>
	</header>
{% endblock %}
