{% block content %}
	<header class="siteHeader">
		<div class="container-nav">
			<h2 class="logoSite"><a href="{{ path('home') }}">Symfony Bike</a></h2>
			<nav class="main-nav">
				<ul>
					{# choix de la langue #}
					{# <li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown">
												<img src="{{ asset('styles/images/drapeau_france.png') }}" class="lang-logo">
											</a>
											<ul class="dropdown-menu">
												<li>
													<a href="?lang=fr">Français</a>
												</li>
												<li>
													<a href="?lang=en">English</a>
												</li>
											</ul>
										</li> #}
						<li><a href="{{ path('velos') }}"> Vélos</a>
					</li>
					<li>
						<a href="">Panier</a>
					</li>
					{% if app.user %}
						<li>
							<a href="{{ path('user_profil') }}">Mon compte</a>
						</li>
					{% else %}
						<li>
							<a href="{{ path('login') }}">Se connecter</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		</div>
	</header>
{% endblock %}
