{% extends 'base.html.twig' %}

{% block content %}
	{% include '_header_admin.html.twig' %}
	{% block flash %}
		{% for message in app.flashes('success') %}
			<div class="flash-success">
				<button class="close-btn" onclick="this.parentElement.style.display='none';">×</button>
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="flash-error">
				<button class="close-btn" onclick="this.parentElement.style.display='none';">×</button>
				{{ message }}
			</div>
		{% endfor %}
	{% endblock %}

	<div class="conteneurAdmin">
		<h2 class="titreAdmin">{{ 'admin.product_list_title'|trans }}</h2>
		<div class="divTableAdmin">
			<table class="tableAdmin">
				<thead>
					<tr>
						<th>{{ 'id'|trans }}</th>
						<th>{{ 'name'|trans }}</th>
						<th>{{ 'color'|trans }}</th>
						<th>{{ 'category'|trans }}</th>
						<th>{{ 'price'|trans }}</th>
						<th>{{ 'product_addition.stock_label'|trans }}</th>
						<th>{{ 'admin.actions'|trans }}</th>
					</tr>
				</thead>
				<tbody>
					{% for product in products %}
						<tr>
							<td>{{ product.id }}</td>
							<td>{{ product.name }}</td>
							<td>{{ product.couleur }}</td>
							<td>{{ product.category.CategoryName }}</td>
							<td>{{ product.price }}
								€</td>
							<td>{{ product.stock }}</td>
							<td>
								<div class="btnContainer">
									<button class="btnModifier" onclick="window.location.href='{{ path('app_admin_editProduct', {'id': product.id}) }}'">{{ 'admin.edit'|trans }}</button>
									<form method="post" action="{{ path('app_admin_deleteProduct', {'id': product.id}) }}" onsubmit="return confirm('{{ 'admin.confirm_delete'|trans }}');">
										<button type="submit" class="btnDelete">{{ 'admin.delete'|trans }}</button>
									</form>
								</div>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="7" class="tdAucun">{{ 'admin.no_products_found'|trans }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<br>
			<button class="btnAjouter" onclick="window.location.href='{{ path('app_admin_addProduct') }}'">{{ 'admin.add_product'|trans }}</button>
		</div>
	</div>
	{% include '_footer.html.twig' %}
{% endblock %}
