{% extends 'base.html.twig' %}

{% block content %}
	{% include '_header_admin.html.twig' %}
	{% block flash %}
		{% for message in app.flashes('success') %}
			<div class="flash-success">
				<button class="close-btn" onclick="this.parentElement.style.display='none';">×</button>
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="flash-error">
				<button class="close-btn" onclick="this.parentElement.style.display='none';">×</button>
				{{ message }}
			</div>
		{% endfor %}
	{% endblock %}

	<div class="conteneurAdmin">
		<h2 class="titreAdmin">{{ 'admin.user_list_title'|trans }}</h2>
		<div class="divTableAdmin">
			<table class="tableAdmin">
				<thead>
					<tr>
						<th>{{ 'id'|trans }}</th>
						<th>{{ 'first_name'|trans }}</th>
						<th>{{ 'last_name'|trans }}</th>
						<th>{{ 'email'|trans }}</th>
						<th>{{ 'profile_roles'|trans }}</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						<tr>
							<td>{{ user.id }}</td>
							<td>{{ user.firstName }}</td>
							<td>{{ user.lastName }}</td>
							<td>{{ user.email }}</td>
							<td>
								{% if 'ROLE_ADMIN' in user.roles %}
									{{ 'role_admin'|trans }}
								{% elseif 'ROLE_USER' in user.roles %}
									{{ 'role_user'|trans }}
								{% else %}
									{{ user.roles|join(', ') }}
								{% endif %}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="5" class="tdAucun">{{ 'admin.no_users_found'|trans }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% include '_footer.html.twig' %}
{% endblock %}
