<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="csrf-token" content="{{ csrf_token('cart') }}">
		<title>
			{% block title %}Symfony Bike
			{% endblock %}
		</title>
		<style>
			{{include('styles/styles.css.twig')}}</style>
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
		<script src="{{ asset("js/script.js") }}"></script>
		<script>
			const addToCartUrl = "{{ path('api_cart_add') }}";
const getCartUrl = "{{ path('api_cart_get') }}";
		</script>


		<script>
			var assetDrapeauFr = "{{ asset('images/drapeau_france.png') }}";
var assetDrapeauEn = "{{ asset('images/drapeau_anglais.png') }}";
		</script>
	</head>
	{% block flash %}
		{% for message in app.flashes('success') %}
			<div class="flash-success">
				<button class="close-btn" onclick="this.parentElement.style.display='none';">×</button>
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="flash-error">
				<button class="close-btn" onclick="this.parentElement.style.display='none';">×</button>
				{{ message }}
			</div>
		{% endfor %}
	{% endblock %}

	<body>
		<main>
			{% block content %}{% endblock %}
		</main>
	</body>
</html>
