{% extends 'base.html.twig' %}

{% block title %}Votre panier
{% endblock %}

{% block content %}
{% include '_header.html.twig' %}

<a href="{{ path('velos') }}" class="btnRetour" title="{{ 'panier.retour'|trans }}"></a>

<div class="panierContainer">
	<div class="panierItems">
		<h1>{{ 'panier.titre'|trans }}</h1>

		{% if cart %}
			<table class="tablePanier">
				<thead>
					<tr>
						<th>{{ 'panier.produit'|trans }}</th>
						<th>{{ 'panier.prix_unitaire'|trans }}</th>
						<th>{{ 'panier.quantite'|trans }}</th>
						<th>{{ 'panier.total'|trans }}</th>
						<th>{{ 'panier.actions'|trans }}</th>
					</tr>
				</thead>
				<tbody>
					{% set totalAmount = 0 %}
					{% set totalQuantity = 0 %}
					{% for id, item in cart %}
						<tr class="cart-item" data-id="{{ id }}">
							<td>
								<div class="productName">
									<img src="" alt="{{ item.name }}" class="productImage">
									<span>{{ item.name }}</span>
								</div>
							</td>
							<td>{{ item.price }}€</td>
							<td>
								<input type="number" value="{{ item.quantity }}" min="1" class="quantityInput" data-action="change->cart#updateQuantity">
							</td>
							<td>{{ item.price * item.quantity }}€</td>
							<td>
								<button class="removeItemBtn" data-action="click->cart#removeFromCart">{{ 'panier.retirer'|trans }}</button>
							</td>
						</tr>
						{% set totalAmount = totalAmount + (item.price * item.quantity) %}
						{% set totalQuantity = totalQuantity + item.quantity %}
					{% endfor %}
				</tbody>
			</table>

			<div class="panierSummary">
				<div class="summaryItem">
					<strong>{{ 'panier.total_articles'|trans }}:</strong>
					<span>{{ totalQuantity }}
						{{ 'panier.articles'|trans }}</span>
				</div>
			</div>
		{% else %}
			<p>{{ 'panier.panier_vide'|trans }}</p>
		{% endif %}
	</div>

	<div class="panierDetails">
		<h2>{{ 'panier.infos_panier'|trans }}</h2>
		<div class="panierActions">
			<div class="actionItem">
				<strong>{{ 'panier.total'|trans }}:</strong>
				<span>{{ totalAmount }}€</span>
			</div>
			<div class="actionItem">
				<button class="btnAjouter" title="{{ 'panier.passer_commande'|trans }}" onclick="window.location.href='{{ path('app_order') }}'" {% if cart|length < 1 %} style="opacity: 0.5; background-color: grey; cursor: not-allowed;" disabled {% endif %}> {{ 'panier.passer_commande'|trans }} </button> </div> </div> </div> </div> {% include '_footer.html.twig' %} {% endblock %}
