{% extends 'base.html.twig' %}
{% block flash %}
	{% for message in app.flashes('success') %}
		<div class="flash-success">
			<button class="close-btn" onclick="this.parentElement.style.display='none';">×</button>
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('error') %}
		<div class="flash-error">
			<button class="close-btn" onclick="this.parentElement.style.display='none';">×</button>
			{{ message }}
		</div>
	{% endfor %}
{% endblock %}
{% block content %}
	<form action="{{ path('login') }}" method="post" class="loginForm">
		<h2>{{ "login"|trans }}</h2>
		<div class="formGroup">
			<label for="username">{{ "email"|trans }}:</label>
			<input type="text" id="username" name="_username" value="{{ app.request.get('_username') }}" required>
		</div>

		<div class="formGroup">
			<label for="password">{{ "password"|trans }}:</label>
			<input type="password" id="password" name="_password" required>
		</div>

		<button type="submit" class="btnLogin">{{ "connect"|trans }}</button>

		<div class="signupLink">
			<p>{{ "no_account"|trans }}
				<a href="{{ path('register') }}" class="signupButton">{{ "register"|trans }}</a>
			</p>
		</div>
	</form>
{% endblock %}
