{% extends 'base.html.twig' %}

{% block title %}
	{{ 'commande.title'|trans }}
{% endblock %}

{% block content %}
	{% include '_header.html.twig' %}

	<div class="commandeContainer">
		<div class="commandeItems">
			<h1>{{ 'commande.title'|trans }}</h1>
			{% if items is not empty %}
				<table class="tableCommande">
					<thead>
						<tr>
							<th>{{ 'commande.produit'|trans }}</th>
							<th>{{ 'commande.prix_unitaire'|trans }}</th>
							<th>{{ 'commande.quantite'|trans }}</th>
							<th>{{ 'commande.total'|trans }}</th>
						</tr>
					</thead>
					<tbody>
						{% for id, item in items %}
							<tr class="commande-item">
								<td>
									<div class="productName">
										<img src="{{ images[item.product.id] }}" alt="{{ item.product.name }}" class="productImage">
										<span>{{ item.product.name }}</span>
									</div>
								</td>
								<td>{{ item.product.price }}€</td>
								<td>{{ item.quantity }}</td>
								<td>{{ item.quantity * item.product.price }}€</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

				<div class="commandeSummary">
					<div class="summaryItem">
						<strong>{{ 'commande.total_articles'|trans }}
							:</strong>
						<span>{{ items|length }}</span>
					</div>
					<div class="summaryItem">
						<strong>{{ 'commande.total_commande'|trans }}
							:</strong>
						<span>{{ total }}€</span>
					</div>
				</div>

				<div class="commandeActions">
					<form action="{{ path('order_confirm') }}" method="post">
						<button type="submit" class="btnConfirmerCommande">{{ 'commande.confirmer'|trans }}</button>
					</form>
				</div>
			{% else %}
				<p>{{ 'commande.panier_vide'|trans }}
					<a href="{{ path('velos') }}">{{ 'commande.decouvrir_produits'|trans }}</a>.
				</p>
			{% endif %}
		</div>
	</div>
	{% include '_footer.html.twig' %}
{% endblock %}
