{% extends 'base.html.twig' %}

{% block content %}
	{% include '_header.html.twig' %}
	<main class="profilContainer">
		<div class="container">
			<h2>{{ "profile"|trans }}</h2>
			<div class="profilDetails">
				<p>
					<strong>{{ "first_name"|trans }}
						:</strong>
					{{ app.user.firstName }}
				</p>
				<p>
					<strong>{{ "last_name"|trans }}
						:</strong>
					{{ app.user.lastName }}
				</p>
				<p>
					<strong>{{ "email"|trans }}
						:</strong>
					{{ app.user.email }}
				</p>
				<p>
					<strong>{{ "profile_id"|trans }}
						:</strong>
					{{ app.user.id }}
				</p>
				<p>
					<strong>{{ "profile_roles"|trans }}
						:</strong>
					{% if 'ROLE_ADMIN' in app.user.roles %}
						{{ "role_admin"|trans }}
					{% elseif 'ROLE_USER' in app.user.roles %}
						{{ "role_user"|trans }}
					{% else %}
						{{ app.user.roles|join(', ') }}
					{% endif %}
				</p>
			</div>
			<div class="creditCardSection">
				<h3>{{ "credit_cards"|trans }}</h3>
				<ul class="creditCardList">
					{% for card in creditCards %}
						<li>
							<span>{{ "credit_card_ending"|trans }}
								: ****
								{{ card.number|slice(-4) }}</span>
							<span>{{ "expiration_date"|trans }}
								:
								{{ card.expirationDate|date('m/Y') }}</span>
							<a href="{{ path('user_profil_editCreditCard', {id: card.id}) }}" class="btnModifier">{{ "modify"|trans }}</a>
							<a href="{{ path('user_profil_deleteCreditCard', {id: card.id}) }}" class="btnDelete" onclick="return confirm('{{ " confirm_card_deletion"|trans }}');">{{ "delete_card"|trans }}</a>
						</li>
					{% else %}
						<li>{{ "no_credit_cards"|trans }}</li>
					{% endfor %}
				</ul>
				<a href="{{ path('user_profil_addCreditCard') }}" class="btnAjouter">{{ "add_credit_card"|trans }}</a>
			</div>
		</div>
	</main>
{% endblock %}
