{% extends 'base.html.twig' %}

{% block content %}
	<div class="loginWrapper">
		<form action="{{ path('register') }}" method="post" class="loginForm">
			<h2>{{ "registration"|trans }}</h2>
			<div class="formGroup">
				<label for="email">{{ "email"|trans }}</label>
				<input type="email" name="_username" id="email" required>
			</div>

			<div class="formGroup">
				<label for="first_name">{{ "first_name"|trans }}</label>
				<input type="text" name="_first_name" id="first_name" required>
			</div>

			<div class="formGroup">
				<label for="last_name">{{ "last_name"|trans }}</label>
				<input type="text" name="_last_name" id="last_name" required>
			</div>

			<div class="formGroup">
				<label for="password">{{ "password"|trans }}</label>
				<input type="password" name="_password" id="password" required>
			</div>

			<div class="formGroup">
				<label for="confirm_password">{{ "confirm_password"|trans }}</label>
				<input type="password" name="_confirm_password" id="confirm_password" required>
			</div>

			<button type="submit" class="btnLogin">{{ "register"|trans }}</button>

			<div class="signupLink">
				<p>{{ "already_have_account"|trans }}
					<a href="{{ path('login') }}" class="signupButton">{{ "login"|trans }}</a>
				</p>
			</div>
		</form>
	</div>
{% endblock %}
