{% extends 'base.html.twig' %}

{% block title %}Détails du vélo{% endblock %}

{% block content %}
	{% include '_header.html.twig' %}
	<h1>🚴‍♂️ Détails du vélo : {{ velo.name }}</h1>
	<div>
		<h2>ID : {{ velo.id }}</h2>
		<ul>
			<li><strong>Nom :</strong> {{ velo.name }}</li>
			<li><strong>Prix :</strong> {{ velo.price }} €</li>
			<li><strong>Type :</strong> {{ velo.type }}</li>
			<li><strong>Description :</strong> {{ velo.description }}</li>
		</ul>
		{# <img src="{{ velo.image }}" style="width: 200px; height: auto; border-radius: 25px;"> #}
	</div>
{% endblock %}
