{% extends 'base.html.twig' %}

{% block title %}Liste des vélos{% endblock %}

{% block content %}
    {% include '_header.html.twig' %}

    <div data-controller="search" class="divSearchBar">
        <input type="text" data-action="input->search#update" placeholder="Recherche..." class="searchBarInput"/>
        <div data-search-target="results"></div>
    </div>

    <main class="veloListContainer">
        <div class="container">
            <h2>Nos vélos</h2>
            <ul class="listeVelos">
                {% for velo in velos %}
                    <li class="veloItem">
                        <a href="{{ path('velos_show', {'id': velo.id}) }}" class="veloLink">
                            <div class="veloDetails">
                                <img src="{{ velo.images|first.urls[0] }}" class="veloImage">
                                <h3 class="titreDetails">{{ velo.name }}</h3>
                                <p class="veloItemMarque">{{ velo.marque }}</p>
                                <p>{{ velo.description|length > 100 ? velo.description|slice(0, 100) ~ '...' : velo.description }}</p>
                                <p>
                                    <strong class="prixVeloItem">{{ velo.price }}
                                        €</strong>
                                </p>
                                <a href="{{ path('user_panier') }}" class="btnAjoutPanier">{{ "add_to_cart"|trans }}</a>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </main>

    {% include '_footer.html.twig' %}
{% endblock %}
